################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DSA_Project/.vs/DSA_Project/v17/.suo
/DSA_Project/.vs/DSA_Project/v17/DocumentLayout.json
